@charset "utf-8";

@font-face { font-family:'Montserrat-Bold'; src: url(../fonts/Montserrat-Bold.woff) format('woff'), url(../fonts/Montserrat-Bold.woff2) format('woff2'); font-style:normal; font-weight:normal; }

@font-face { font-family:'Montserrat-ExtraBold'; src: url(../fonts/Montserrat-ExtraBold.woff) format('woff'), url(../fonts/Montserrat-ExtraBold.woff2) format('woff2'); font-style:normal; font-weight:normal; }

@font-face { font-family:'Montserrat-Medium'; src: url(../fonts/Montserrat-Medium.woff) format('woff'), url(../fonts/Montserrat-Medium.woff2) format('woff2'); font-style:normal; font-weight:normal; }

@font-face { font-family:'Montserrat-Regular'; src: url(../fonts/Montserrat-Regular.woff) format('woff'), url(../fonts/Montserrat-Regular.woff2) format('woff2'); font-style:normal; font-weight:normal; }