@charset "utf-8";

body {color:#1D1D1D;margin:0; padding:0;font-family:"Montserrat-Bold",'Noto Sans KR',sans-serif;}
/* dark mode */
body.active {background-color: #1d1d1d; color: #fff;}
ul, li {list-style:none; margin:0; padding:0;}
a {color: inherit;text-decoration: none;}

/***** Mobile *****/
    /*** Mobile header ***/
    header {width: 100%; height: 10%; position: fixed;top: 0;right: 0;margin: 0; display: flex;justify-content: space-between;align-items: center; z-index: 999;}
        /* logo */
        h1 {display: flex;width: 60px; height: 40px;margin-left: 4%; text-indent: -9999px;
            background-image: url(../images/logo.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
        h1 a {display: block;width: 100%; height: 100%;}
        /* call */
        .call {display: none;}

    /*** mode ***/
    .mode {width: 100%; height: 7%; position: fixed; bottom: 0; z-index: 99; margin-left: 4%;}
    .mode_box {width: 65px; height: 35px; background-color: #1D77FF;border-radius: 32.5px; position: relative;
        box-shadow: 2px 3px 5px rgba(29,29,29,.2);
        transition: all 500ms;
    }
    .mode_btn { width: 25px; height: 25px; background-color: #fff; border-radius: 50%;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto 5px;
    transition: all 500ms;
    }
    /* 모드버튼 컬러변경 */
    .mode_box.active {
        background-color: #fff;
    }
    /* 모드버튼 위치이동,컬러변경 */
    .mode_btn.active {
        margin: auto 35px;
        background-color: #1D77FF;
    }



    /*** mobile nav ***/
    .mobile_nav {width: 30px; height: 30px;margin-right: 4%;}
    /** menu icon **/
    .mobile_nav .wrapper-menu { width:20px; height:20px; display:flex; flex-direction:column; justify-content:space-between; cursor:pointer; transition:transform 330ms ease-out; position:relative; z-index:9999; }
    .mobile_nav .wrapper-menu.open { transform:rotate(-45deg); }
    
    .mobile_nav .line-menu { background-color:#1d1d1d; border-radius: 50px; width:100%; height:2px; }
    /* dark mode */
    .mobile_nav .line-menu.active {
        background-color: #fff;
    }
        .mobile_nav .line-menu.start { transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:right;}
        .mobile_nav .open .line-menu.start { transform:rotate(-90deg) translateX(1px); width: 50%;}
        .mobile_nav .line-menu.end { align-self:flex-end; transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:left; }
        .mobile_nav .open .line-menu.end { transform:rotate(-90deg) translateX(-1px); width: 50%;}



        /* mobile navigation */
        .mobile_menu {width:100%; height:100%; background-color:#fff;
            position:fixed;
            top:0; right:-100%; z-index:99; display: flex; align-items: center; justify-content: center;}
        /* dark mode */
        .mobile_menu.active {background-color: #1d1d1d;}
        .mobile_menu.show {right: 0;}
        /* dark mode */
        /* .mobile_menu.show.active {background-color: #1d1d1d;} */
        .mobile_menu ul {align-items: center; height: 25%; display: flex; flex-direction: column; justify-content: space-between;}
        .mobile_menu li {font-size: 2em; font-weight: 800; text-transform: capitalize;}
        .mobile_menu li:hover a {color: #1D77FF;}

    

    /*** pc navigation ***/
    nav {display: none;}

    /*** main contents ***/
    #fullpage {}
        /* fullpage main text */
        #fullpage h2 {
            width: 100%;
            height: 15vh;
            align-items: center;
            margin: 0 auto;
            display: flex;
            font-size: 2em;
            padding-top: 5vh;
            font-weight: 900;
            justify-content: center;
            text-transform: capitalize;
        }
        #oo {
            background-color: #1D77FF;
            width: 9px; height: 9px;
            margin-top: 5.4%; margin-left: 4px;
            border-radius: 50%;
        }
        /* contents0 - home */
        .main_txt {width: 77%;
            font-size: 3em; font-weight: 900;
            line-height: 1.2em;
            margin: 0 auto;
            position: relative;
        }
        #section0 #oo {
            background-color: #1D77FF;
            width: 11px; height: 11px;
            position: absolute;
            right: 13.5%;
            bottom: 42%;
            margin-left: 5px;
            /* margin-top: 5.4%; margin-left: 4px;
            border-radius: 50%; */
        }
        /* contents1 - ABOUT ME */
            /* 페이지 넥스트 이벤트 */
            .about_event {width: 90%; height: 80vh;
                /* margin: auto; */
                display: flex;
                position: relative;
                
                margin: 0 auto;
                }
                .about_event .fp-controlArrow {
                  border:none;
                  background-color: #000;
                  width:20px; height:20px;
                  background-size: cover;
                  background-color: unset;
                }
                .about_event .fp-controlArrow.fp-prev {
                left:calc(12px - 0%);
                width:15px; height:30px;
                background-image: url(../images/Icon\ ionic-ios-arrow-back.svg);
                background-size: 15px 30px;
                }
                /* dark mode */
                .fp-controlArrow.fp-prev.active {
                    background-image: url(../images/Icon\ ionic-ios-arrow-back-1.svg);
                }
                .about_event .fp-controlArrow.fp-next {
                    /* background-color: #1D77FF; */
                    width:15px; height:30px;
                    background-image: url(../images/Icon\ ionic-ios-arrow-forward.svg);
                    background-size: 15px 30px;
                }
                /* dark mode */
                .fp-controlArrow.fp-next.active {
                    background-image: url(../images/Icon\ ionic-ios-arrow-forward-1.svg);
                }
                    /* slide1 img */
                    .m_box {height: 100%; width: 80%;margin: 0 auto;}
                    #my_img {
                        width: 100%; height: 35%;
                        background-image: url(../images/about_profile.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .m_profile1 {
                        width: 100%;
                        text-align: center;
                        margin-top: 20%;
                    }
                    /* slide2 profile */
                    .profile {display: none;}
                    .m_profile2 {width: 80%; height: 100%; text-align: center;margin: 0 auto;
                        margin-top: 50%;
                        line-height: 2em; display: flex;}
                    .m_profile2 > p {width: 100%; height: 60%;}
                    /* slide3 programe */
                    .programe {height: 100%;text-align: center;}
                    .programe h4 {font-weight: 500;margin: 15px auto; margin-top: 30px;}
                    .programe strong {font-size: 14px; font-weight: 500;}
                    .programe p {margin: 12px auto;}
                    /* graph */
                    .programe #graph {width: 40%; border-bottom: 2px solid #1D77FF; margin: 0 auto;}
        /* contents2 - PROJECTS */
            /* 스크롤 이벤트 */
            .scrollable-element{
                width: 90%;
                height: 80vh;
                overflow-y: scroll;
                margin:0 auto;
                
              }
              .scrollable-element h5 {width: 75vw; font-size: 1.2em; font-weight: 500; margin: 20px auto;margin-top: 40px;}
              .scrollable-element h5:first-child {margin-top: 0;}
              .scrollable-element > div {
                height: 22%; width: 85%;
                margin: 0 auto;
                display: flex;
                box-shadow:2px 3px 5px rgba(29,29,29,.2);
                margin-bottom: 25px;
                box-sizing: border-box;
              }
              /* dark mode */
              .scrollable-element > div.active {background-color: #fff;}
              .scrollable-element > div > a {
                display: block; width: 100%; height: 100%;
              }
              /* .scrollable-element .box1 {
                background-image: url(../projects/nerdy/images/main_img_1.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
              }
              .scrollable-element .box2 {
                background-image: url(../projects/images/t_money_proimg.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center; }*/
              
                /* 스크롤바 없애기 */
                ::-webkit-scrollbar { display: none; }
        /* contents1 - LET'S TALK */
        .call_box {width: 100%; height: 80vh; text-align: center;}
        /* .talk_call {padding-top: 10%;} */
        .talk_call li { font-size: 1.2em; font-weight: 500; padding-top: 20%;}
        .call_img { width: 35px; height: 35px; margin: 0 auto; background-size: 100%; background-repeat: no-repeat; background-position: center;}
        #call1 {background-image: url(../images/w_feather-mail.png);}
        #call2 {background-image: url(../images/w_feather-call.png);}
        #call3 {background-image: url(../images/w_github.png);}
        /* dark mode */
        #call1.active {background-image: url(../images/d_feather-mail.png);}
        #call2.active {background-image: url(../images/d_feather-call.png);}
        #call3.active {background-image: url(../images/d_github.png);}
        

/***** PC *****/
    /*** Mobile header ***/
        /* logo */
        /* call */
        /* .call {width: 53px; height: 53px;text-indent: -9999px; background-color: #1D1D1D;margin-right: 4%;}
        .call a {display: block;background: url() no-repeat;background-size: cover;} */

