@charset "utf-8";

body {color:#1D1D1D;margin:0; padding:0;font-family:"Montserrat-Bold","Montserrat-ExtraBold","Montserrat-Medium","Montserrat-Regular",'Noto Sans KR',sans-serif;}
/* dark mode */
body.active {background-color: #1d1d1d; color: #fff;}
ul, li {list-style:none; margin:0; padding:0;}
a {color: inherit;text-decoration: none;}

/***** Mobile *****/
    /*** Mobile header ***/
    header {width: 100%; height: 10%; position: fixed; background-color: #fff; top: 0;right: 0;margin: 0; display: flex;justify-content: space-between;align-items: center; z-index: 999;}
    /* dark mode */
    #header.active {background-color: #1d1d1d;}
        /* logo */
        h1 {display: flex;width: 60px; height: 40px;margin-left: 4%; text-indent: -9999px;
            background-image: url(../images/logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-size: cover cover;
        }
        h1 a {display: block;width: 100%; height: 100%;}
        /* call */
        .call_icon {display: none;}

    /*** mode ***/
    .mode {width: 100%; height: 7%; position: fixed; bottom: 0; z-index: 999; margin-left: 4%;}
    .mode_box {width: 65px; height: 35px; background-color: #1D77FF;border-radius: 32.5px; position: relative;
        box-shadow: 2px 3px 5px rgba(29,29,29,.2);
        transition: all 500ms;
    }
    .mode_btn { width: 25px; height: 25px; background-color: #fff; border-radius: 50%;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto 5px;
    transition: all 500ms;
    }
    /* 모드버튼 컬러변경 */
    .mode_box.active {
        background-color: #fff;
    }
    /* 모드버튼 위치이동,컬러변경 */
    .mode_btn.active {
        margin: auto 35px;
        background-color: #1D77FF;
    }



    /*** mobile nav ***/
    .mobile_nav {width: 30px; height: 30px;margin-right: 4%;}
    /** menu icon **/
    .mobile_nav .wrapper-menu { width:20px; height:20px; display:flex; flex-direction:column; justify-content:space-between; cursor:pointer; transition:transform 330ms ease-out; position:relative; z-index:9999; }
    .mobile_nav .wrapper-menu.open { transform:rotate(-45deg); }
    
    .mobile_nav .line-menu { background-color:#1d1d1d; border-radius: 50px; width:100%; height:2px; }
    /* dark mode */
    .mobile_nav .line-menu.active {
        background-color: #fff;
    }
        .mobile_nav .line-menu.start { transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:right;}
        .mobile_nav .open .line-menu.start { transform:rotate(-90deg) translateX(1px); width: 50%;}
        .mobile_nav .line-menu.end { align-self:flex-end; transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:left; }
        .mobile_nav .open .line-menu.end { transform:rotate(-90deg) translateX(-1px); width: 50%;}



        /* mobile navigation */
        .mobile_menu {width:100%; height:100%; background-color:#fff;
            position:fixed;
            top:0; right:-100%; z-index:99; display: flex; align-items: center; justify-content: center;}
        /* dark mode */
        .mobile_menu.active {background-color: #1d1d1d;}
        .mobile_menu.show {right: 0;}
        /* dark mode */
        /* .mobile_menu.show.active {background-color: #1d1d1d;} */
        .mobile_menu ul {align-items: center; height: 25%; display: flex; flex-direction: column; justify-content: space-between;}
        .mobile_menu li {font-size: 2em; font-weight: 800; text-transform: capitalize;}
        .mobile_menu li:hover a {color: #1D77FF;}

    

    /*** pc navigation ***/
    nav {display: none;}

    /*** main contents ***/
    #fullpage {}
        /* fullpage main text */
        #fullpage h2 {
            width: 100%;
            height: 15vh;
            align-items: center;
            margin: 0 auto;
            display: flex;
            font-size: 2em;
            padding-top: 5vh;
            font-weight: 900;
            justify-content: center;
            text-transform: capitalize;
        }
        #oo {
            background-color: #1D77FF;
            width: 9px; height: 9px;
            margin-top: 4%; margin-left: 4px;
            border-radius: 50%;
        }
        /* contents0 - home */
        .section0_main {height: 100vh; margin: 0 auto;display: flex; align-items: center;justify-content: center;}
        .main_txt {width: 100%;
            font-size: 12.2vw; font-weight: 900;
            line-height: 1.2em;
            /* margin: 0 auto; */
            position: relative;
            text-align: center;
        }
        /* #section0 #oo {
            background-color: #1D77FF;
            width: 11px; height: 11px;
            position: absolute;
            right: 19%;
            bottom: 42.5%;
            margin-left: 5px;
        } */
        /* contents1 - ABOUT ME */
            /* 페이지 넥스트 이벤트 */
            .about_event {width: 90%; height: 80vh;
                /* margin: auto; */
                display: flex;
                position: relative;
                
                margin: 0 auto;
                }
                .about_event .fp-controlArrow {
                  border:none;
                  background-color: #000;
                  width:20px; height:20px;
                  background-size: cover;
                  background-color: unset;
                }
                .about_event .fp-controlArrow.fp-prev {
                left:calc(12px - 0%);
                width:15px; height:30px;
                background-image: url(../images/Icon\ ionic-ios-arrow-back.svg);
                background-size: 15px 30px;
                }
                /* dark mode */
                .fp-controlArrow.fp-prev.active {
                    background-image: url(../images/Icon\ ionic-ios-arrow-back-1.svg);
                }
                .about_event .fp-controlArrow.fp-next {
                    /* background-color: #1D77FF; */
                    width:15px; height:30px;
                    background-image: url(../images/Icon\ ionic-ios-arrow-forward.svg);
                    background-size: 15px 30px;
                }
                /* dark mode */
                .fp-controlArrow.fp-next.active {
                    background-image: url(../images/Icon\ ionic-ios-arrow-forward-1.svg);
                }
                    /* slide1 img */
                    .m_box {height: 100%; width: 80%;margin: 0 auto;}
                    #my_img {
                        width: 100%; height: 35%;
                        background-image: url(../images/about_profile.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .m_profile1 {
                        width: 100%;
                        text-align: center;
                        margin-top: 10%;
                    }
                    /* slide2 profile */
                    .profile {display: none;}
                    .m_profile2 {width: 80%; height: 100%; text-align: center;margin: 0 auto;
                        /* margin-top: 15%; */
                        line-height: 2em; display: flex;}
                    .m_profile2 > p {width: 100%; height: 60%;}
                    /* slide3 programe */
                    .programe {height: 100%;text-align: center;}
                    .programe h4 {font-weight: 500;margin: 5px auto; margin-top: 30px;}
                    .programe strong {font-size: 14px; font-weight: 500;}
                    .programe strong br {display: none;}
                    .programe p {margin: 12px auto;}
                    /* graph */
                    .programe #graph {
                        width: 40%; height: 5px;
                        background-color: #fff;
                        border-radius: 2.5px;
                        margin: 0 auto;
                        box-shadow:2px 3px 5px rgba(29,29,29,.2);
                    }
                    .graph_box {
                        height: 5px;
                        background-color: #1D77FF;
                        border-radius: 2.5px 0 0 2.5px;
                        animation-duration: 5s;
                        animation-timing-function: ease;
                        animation-delay: 3s;
                        animation-iteration-count: 1;
                        animation-play-state: inherit;
                    }
                    .graph1 {
                        width: 90%;
                        animation-name: mov1;
                    }
                    @keyframes mov1 {
                        0% { width: 5%; background-color: #8FBCFF;}
                        100% { width: 90%; background-color: #1D77FF; }
                    }
                    .graph2 {
                        width: 85%;
                        animation-name: mov2;
                    }
                    @keyframes mov2 {
                        0% { width: 5%; background-color: #8FBCFF;}
                        100% { width: 85%; background-color: #1D77FF; }
                    }
        /* contents2 - PROJECTS */
            /* 스크롤 이벤트 */
            .scrollable-element{
                width: 90%;
                height: 80vh;
                overflow-y: scroll;
                margin:0 auto;
                
              }
              .scrollable-element h5 {width: 70vw; font-size: 1.2em; font-weight: 500; margin: 25px auto;margin-top: 40px;}
              .scrollable-element h5:first-child {margin-top: 0;}
              .scrollable-element > div {
                height: 22%; width: 80%;
                margin: 0 auto;
                display: flex;
                box-shadow:2px 3px 5px rgba(29,29,29,.2);
                margin-bottom: 25px;
                box-sizing: border-box;
              }
              /* dark mode */
              .scrollable-element > div.active {background-color: #fff;}
              .scrollable-element > div > a {
                display: block; width: 100%; height: 100%;
              }
              .scrollable-element .box {background-position: center; background-size: 100%; background-repeat: no-repeat;}
              .scrollable-element .box1 {background-image: url(../images/url_img.jpg);}
              .scrollable-element .box2 {background-image: url(../images/t_money_proimg.png);}
              .scrollable-element .box3 {background-image: url(../images/jysnc.jpg);}
              /* .scrollable-element .box1 {
                background-image: url(../projects/nerdy/images/main_img_1.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
              }
              .scrollable-element .box2 {
                background-image: url(../projects/images/t_money_proimg.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center; }*/
              
                /* 스크롤바 없애기 */
                ::-webkit-scrollbar { display: none; }
        /* contents1 - LET'S TALK */
        .call_box {width: 100%; height: 80vh; text-align: center;}
        /* .talk_call {padding-top: 10%;} */
        .talk_call li { font-size: 1.1em; font-weight: 500; padding-top: 15%;}
        .call_img { width: 35px; height: 35px; margin: 0 auto; background-size: 100%; background-repeat: no-repeat; background-position: center;}
        #call1 {background-image: url(../images/w_feather-mail.png);}
        #call2 {background-image: url(../images/w_feather-call.png);}
        #call3 {background-image: url(../images/w_github.png);}
        /* dark mode */
        #call1.active {background-image: url(../images/d_feather-mail.png);}
        #call2.active {background-image: url(../images/d_feather-call.png);}
        #call3.active {background-image: url(../images/d_github.png);}
        
/***** Tablet *****/
@media (min-width:767px) {
    /*** Mobile header ***/
    header {height: 12%;}
        /* logo */
        h1 {width: 70px; height: 50px;}
    /** menu icon **/
    .mobile_nav .wrapper-menu { width:25px; height:25px;}
    .mobile_nav .line-menu {height:3px; }
    /* mobile navigation */
    .mobile_menu li {font-size: 3em;}
    /*** main contents ***/
        /* fullpage main text */
        #fullpage h2 {
            height: 15vh;
            padding-top: 6vh;
        }
        #oo {
            width: 10px; height: 10px;
            margin-top: 2.5%; margin-left: 5px;
        }
        /* contents0 - home */
        .main_txt {width: 100%;
            font-size: 5em;
            line-height: 1.3em;
        }
        /* #section0 #oo {
            width: 16px; height: 16px;
            right: 29%;
            bottom: 38%;
            margin-left: 7px;
        } */
        /* contents1 - ABOUT ME */
            /* 페이지 넥스트 이벤트 */
            .about_event { height: 79vh;}
                    /* slide1 img */
                    #my_img {height: 30%;background-position-y: 30%;}
                    .m_profile1 {margin-top: 15%;font-size: 1.5em;}
                    /* slide2 profile */
                    .m_profile2 {
                        /* margin-top: 20%; */
                        font-size: 1.5em;}
                    /* slide3 programe */
                    .programe {height: 100%;font-size: 1.5em;}
                    .programe h3 {margin: 0;}
                    .programe h4 {margin: 15px auto; margin-top: 30px;}
                    .programe strong {font-size: 0.8em;}
                    .programe strong br {display: none;}                 
        /* contents2 - PROJECTS */
            /* 스크롤 이벤트 */
            .scrollable-element{height: 79vh;}
              .scrollable-element h5 {width: 76vw; font-size: 1.5em; margin: 20px auto;margin-top: 50px;}
              .scrollable-element > div {height: 30%; width: 85%;}
        /* contents1 - LET'S TALK */
        .call_box {height: 79vh; }
        /* .talk_call {padding-top: 10%;} */
        .talk_call li { font-size: 1.5em;padding-top: 12%;}      
}
/***** PC *****/
@media (min-width:1280px) {
    /*** Mobile header ***/
    header {height: 12%;}
        /* logo */
        h1 {width: 70px; height: 50px;background-image: url(../images/w_logo.png);}
        h1.active {background-image: url(../images/d_logo.png);}
        /* call */
        .call_icon {display: flex; width: 40px; height: 40px; background-image: url(../images/w_feather-call.png);background-repeat: no-repeat; background-size: cover;margin-right: 4%;text-indent: -9999px;}
        .call_icon:hover {
            animation-name: mov3;
            animation-duration:0.8s;
            animation-timing-function:cubic-bezier(0.2, 0.2);
            animation-iteration-count: infinite;
        }
        @keyframes mov3 {
            0 {transform: rotate(0);}
            50% {transform:rotate(-15deg);}
            100% {transform:rotate(20deg);}
        }
        
    /** menu icon **/
    .mobile_nav {display: none;}
    /** pc navigation **/
    nav {
        position:fixed;
        left: 4%;
        top: 0;
        bottom: 0;
        width:45px;
        display: flex;
        align-items: center;
        z-index: 99;color: #1d1d1d;
        cursor: pointer;transition: 0.5s;
    }
    nav.on {width: 90%;}
    nav #gnb {
        background-color: #FFF;
        width: 100%; height: 65vh;
        border-radius: 10px; display: flex;
        justify-content: center;
        position: relative;
        box-shadow: 2px 3px 5px rgba(29,29,29,.2);
    }
    nav .toggleMenu {display: none;margin: 0 auto;}
    nav #gnb h5 {
      transform: rotate(-90deg) translateX(30px);
      font-size: 20px;
      margin: 0;
      position: absolute;
      bottom:0;
    }
    nav.on #gnb {background-position: 99% 10px;text-align: center;}
    nav.on #gnb h5 {right: 0;}
    nav.on .toggleMenu {display: block;padding-top:100px}
    nav .toggleMenu a {display: block;font-weight: bold;font-size: 50px;    line-height: 100px;text-transform: capitalize;}
    nav .toggleMenu a:hover {color: #1D77FF;}
    /*  */
    /*** pc nav ***/
    .pc_nav {width: 25px; height: 30px; position: absolute; top: 10px;}
    nav.on .pc_nav {right: 2.5%;}
    /** pc icon **/
    .pc_nav .pc-menu { width:100%; height:20px; display:flex; flex-direction:column; justify-content:space-between; cursor:pointer; transition:transform 330ms ease-out; position:relative; z-index:9999; }
    .pc_nav .pc-menu.open { transform:rotate(-45deg); }
    
    .pc_nav .line-menu { background-color:#1d1d1d; border-radius: 50px; width:100%; height:3px; }
    
        .pc_nav .line-menu.start { transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:right;}
        .pc_nav .open .line-menu.start { transform:rotate(-90deg) translateX(1px); width: 50%;}
        .pc_nav .line-menu.end { align-self:flex-end; transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:left; }
        .pc_nav .open .line-menu.end { transform:rotate(-90deg) translateX(-1px); width: 50%;}
    /*  */
    nav .toggleMenu {display: none;margin: 0 auto;}
    nav #gnb h5 {
        transform: rotate(-90deg) translateX(30px);
        font-size: 1.5em;
        margin: 0;
        position: absolute;
        bottom: 0;
    }
    /*** main contents ***/
        /* fullpage main text */
        #fullpage h2 {
            height: 15vh;
            width: 25vw;
            /* height: 65vh; */
            padding-top: 42.5vh;
            justify-content: start;
            /* margin: 0 auto; */
            position: fixed;
            left: 11.5%;
            /* padding: 0; */
            display: flex;
            font-size: 3em;
        }
        #oo {
            width: 10px; height: 10px;
            margin-top: 6.5%; margin-left: 8px;
        }
        /* contents0 - home */
        .main_txt {width: 76%;
            font-size: 6.5em;
            line-height: 1.3em;
            text-align: start;
        }
        #section0 #oo {
            width: 16px; height: 16px;
            right: 29%;
            bottom: 38%;
            margin-left: 7px;
        }
        /* contents1 - ABOUT ME */
            /* 페이지 넥스트 이벤트 */
            .about_event {
                height: 100vh; width: 50vw;
                margin: 0;
                float: right;
                margin-right: 4%;
                align-items: center;
                font-size: 0.8em;
            }
            .about_event > a {display: flex; height: 65vh;}
                    /* slide1 img */
                    #my_img {height: 65vh;background-position-y: -20%; background-size: 100%;}
                    .m_profile1 {display: none;}
                    /* slide2 profile */
                    .profile {display: flex;flex-direction: column;
                    height: 25%; text-align: center;
                    font-size: 1.5em;
                    }
                    .profile h3 {margin: 0; margin-bottom: 5px;}
                    .profile p {margin: 0; font-family: 'Noto Sans KR',sans-serif; line-height: 1.5em; margin: 5px 0;}
                    .profile p strong {font-family:"Montserrat-Bold",'Noto Sans KR',sans-serif;}
                    .m_profile2 {
                        height: 75%;
                        }
                        .probr {display: none;}
                    /* slide3 programe */
                    .programe {height: 65vh;font-size: 1.5em;width: 85%;margin: 0 auto;}
                    .programe p {margin: 0;line-height: 1.5em;}
                    .programe h3 {margin: 0;height: 15%; font-size: 1.5em;}
                    .programe h4 {margin: 0; margin-bottom: 15px;}
                    .programe strong {font-size: 0.8em;}
                    .programe strong br {display: block;}
                    /* .programebox {margin: 0;} */
                    /* programe graph */
                    .programe #graph {margin: 0;width: 72%;}
                    .publilshing {display: flex; height: 100%;}
                    .design {display: flex; height: 100%;}
                    /* .design .box2 .box_txt {justify-content: start;} */
                    .programe .box_txt {display: flex; flex-direction: column; height: 100%; justify-content: space-between;}
                    .programe .box_txt li {display: flex;}
                    .programe .box_txt li p:first-child {width: 25%;}
                    .programe .programbox {text-align: start; height: 85%; display: flex; flex-direction: column; justify-content: space-between;}
                    /* .programe .program_box {height: 48%;} */
                    .programe .program_box:first-child {height: 58%;}
                    .programe .program_box:last-child {height: 32%;}
                    .program_box > ul > li {width: 50%;}
                    .publilshing .box1 {width: 25%; text-align: start;}           
                    .publilshing .box2 {width: 75%;}           
                    .design .box1 {width: 25%; text-align: start;}           
                    .design .box2 {width: 75%;}           
        /* contents2 - PROJECTS */
            /* 스크롤 이벤트 */
            .scroll_listbox {height: 100vh;width: 50vw;margin: 0;margin-right: 4%; align-items: center;float: right;display: flex;}
            .scrollable-element{height: 66vh; width: 100%; margin: 0 auto; display: flex;flex-direction: column;}
              .scrollable-element h5 {width: 98%; font-size: 1.5em; margin: 30px auto;margin-top: 50px;}
              .scrollable-element > div {height: 30vh; width: 98%;}
        /* contents1 - LET'S TALK */
        .call_box {height: 100vh; width: 50%; float: right;align-items: center;display: flex; margin-right: 4%;}
        .talk_call {height: 58vh; padding: 0;display: flex; margin: 0 auto; justify-content: space-between; flex-direction: column;}
        .talk_call li { font-size: 1.5em;padding-top: 10%;}
}
    /*** Mobile header ***/
        /* logo */
        /* call */
        /* .call {width: 53px; height: 53px;text-indent: -9999px; background-color: #1D1D1D;margin-right: 4%;}
        .call a {display: block;background: url() no-repeat;background-size: cover;} */

