@charset "utf-8";

body {color:#1D1D1D;margin:0; padding:0;font-family:"Montserrat-Bold",'Noto Sans KR',sans-serif;}
/* dark mode */
body.active {background-color: #1d1d1d; color: #fff;}
ul, li {list-style:none; margin:0; padding:0;}
a {color: inherit;text-decoration: none;}

/***** Mobile *****/
    /*** Mobile header ***/
    header {width: 100%; height: 10%; position: fixed; background-color: #fff; top: 0;right: 0;margin: 0; display: flex;justify-content: space-between;align-items: center; z-index: 999;}
    /* dark mode */
    #header.active {background-color: #1d1d1d;}
        /* logo */
        h1 {display: flex;width: 60px; height: 40px;margin-left: 4%; text-indent: -9999px;
            background-image: url(../../images/logo.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
        h1 a {display: block;width: 100%; height: 100%;}
        /* call */
        .call {display: none;}

    /*** mode ***/
    .mode {width: 100%; height: 7%; position: fixed; bottom: 0; z-index: 99; margin-left: 4%;}
    .mode_box {width: 65px; height: 35px; background-color: #1D77FF;border-radius: 32.5px; position: relative;
        box-shadow: 2px 3px 5px rgba(29,29,29,.2);
        transition: all 500ms;
    }
    .mode_btn { width: 25px; height: 25px; background-color: #fff; border-radius: 50%;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto 5px;
    transition: all 500ms;
    }
    /* 모드버튼 컬러변경 */
    .mode_box.active {
        background-color: #fff;
    }
    /* 모드버튼 위치이동,컬러변경 */
    .mode_btn.active {
        margin: auto 35px;
        background-color: #1D77FF;
    }



    /*** mobile nav ***/
    .mobile_nav {width: 30px; height: 30px;margin-right: 4%;}
    /** menu icon **/
    .mobile_nav .wrapper-menu { width:20px; height:20px; display:flex; flex-direction:column; justify-content:space-between; cursor:pointer; transition:transform 330ms ease-out; position:relative; z-index:9999; }
    .mobile_nav .wrapper-menu.open { transform:rotate(-45deg); }
    
    .mobile_nav .line-menu { background-color:#1d1d1d; border-radius: 50px; width:100%; height:2px; }
    /* dark mode */
    .mobile_nav .line-menu.active {
        background-color: #fff;
    }
        .mobile_nav .line-menu.start { transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:right;}
        .mobile_nav .open .line-menu.start { transform:rotate(-90deg) translateX(1px); width: 50%;}
        .mobile_nav .line-menu.end { align-self:flex-end; transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:left; }
        .mobile_nav .open .line-menu.end { transform:rotate(-90deg) translateX(-1px); width: 50%;}



        /* mobile navigation */
        .mobile_menu {width:100%; height:100%; background-color:#fff;
            position:fixed;
            top:0; right:-100%; z-index:99; display: flex; align-items: center; justify-content: center;}
        /* dark mode */
        .mobile_menu.active {background-color: #1d1d1d;}
        .mobile_menu.show {right: 0;}
        /* dark mode */
        /* .mobile_menu.show.active {background-color: #1d1d1d;} */
        .mobile_menu ul {align-items: center; height: 25%; display: flex; flex-direction: column; justify-content: space-between;}
        .mobile_menu li {font-size: 2em; font-weight: 800; text-transform: capitalize;}
        .mobile_menu li:hover a {color: #1D77FF;}

    

    /*** pc navigation ***/
    nav {display: none;}

    /* projects_txt */
    .projects_txt {padding-top: 10vh; width: 90%; margin: 0 auto;}
    .projects_txt h4 {margin: 0; font-size: 1.2em;position: relative;width: 26.8%;}
    .oo {width: 6px; height: 6px; border-radius: 50%; background-color: #1D77FF;position: absolute; top: 55%; right: 0;}
    /*** main contents ***/
    .projects_box {
        width: 90%;
        margin: 0 auto;
    }
    .projects_box h2 {
        font-size: 4em;
        text-transform: uppercase;
        margin:0;
    }
    .projects_box h3 {font-size: 1.2em;margin: 0;}
    .projects_box h4 {font-size: 1.5em;}
    .projects_box h5 {margin: 0;}
    .projects_box p {margin: 0;}
    /* contents0 */
    .projects_0 {
        height: 55%;
    }
    .projects_0 h2 {margin-bottom: 15px;}
    .projects_0 p:last-child {
        line-height: 2em;
        margin-top: 10px;
    }
    .projects_0 h5 {margin: 10px 0;font-size: 1em;}
    /* contents1 */
    /* contents2 */
    /* contents3 */
    
        
        

/***** PC *****/
    /*** Mobile header ***/
        /* logo */
        /* call */
        /* .call {width: 53px; height: 53px;text-indent: -9999px; background-color: #1D1D1D;margin-right: 4%;}
        .call a {display: block;background: url() no-repeat;background-size: cover;} */

